{% extends "base.html" %}
{% block title %}
Наши правила
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-header">
      Правила кафедры
    </div>
    <div class="card-body">
      <p>На кафедре прикладной математики действуют следующие правила:</p>
      <ol>
        <li>Студенты обязаны посещать все занятия и активно участвовать в учебном процессе.</li>
        <li>Все курсовые и дипломные работы должны быть выполнены в соответствии с установленными сроками.</li>
        <li>Запрещается использование мобильных телефонов и других электронных устройств на занятиях.</li>
        <li>Студенты должны соблюдать академическую честность и избегать плагиата в своих работах.</li>
        <li>В случае возникновения конфликтных ситуаций, студенты должны обращаться к преподавателям или куратору
          группы.</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}