{% load static %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="row no-gutters">
      <div class="col-auto">
        {% if teacher.image %}
        <a href="{{ teacher.image.url }}" target="_blank">
          <img class="border-3 rounded" height="200" src="{{ teacher.image.url }}" alt="{{ teacher.name }}">
        </a>
        {% else %}
        <img class="border-3 rounded" height="200" src="{% static 'img/default_teacher_image.jpg' %}"
          alt="Изображение отсутствует">
        {% endif %}
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'department:teacher_detail' teacher.id %}" class="text-decoration-none">
              {{ teacher.name }}
            </a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Преподавательская: {{ teacher.audience }}</h6>
          <p class="card-text">Должность: {{ teacher.position }}</p>
          <p class="card-text">Курсы:
            {% if teacher.courses.all %}
            {% for course in teacher.courses.all %}
            <a href="{% url 'department:course_detail' course.id %}" class="text-decoration-none">
              {{ course.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% else %}
            нет
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>